block vars
    - var title = 'Доминион Синема'
    - var pageClass = ''
    - var showBreadcrumb = false
    - var showSidebar = false
    - var pageTitle = 'Доминион Синема'
    - var showTitle = true
    - var fullSize = false
    - var showFooterMap = false

<!DOCTYPE html>
html(lang="ru")
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        block styles
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext")
            link(rel="stylesheet", href="libs/font-awesome/css/all.min.css")
            link(rel="stylesheet", href="libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css")
            link(rel="stylesheet", href="libs/slick-slider/slick/slick.css")
            link(rel="stylesheet", href="libs/slick-slider/slick/slick-theme.css")
            link(rel="stylesheet", href="css/style.css")
        block additional-styles
    body(class=pageClass)
        #page-wrapper.page-wrapper

            .mobile-menu-bar
                a.mobile-menu-bar__link(href='#mobile-menu-bar' onclick='this.classList.toggle("mobile-menu-bar__link--active")')
                    i.fas.fa-bars
                a.mobile-menu-bar__logo(href="/")
                    img.mobile-menu-bar__logo-picture(src="images/header__logo-picture--mobile.svg")

            div
                .site-top

                    nav.navbar.d-lg-none.d-block.py-0.mobile-menu__wrap
                        .fixed-bottom.mobile-menu#mobile-menu-bar
                            ul.navbar-nav.mr-auto
                                li.nav-item.nav-item--parent
                                    .nav-item-parent-wrap
                                        a.nav-link(href='/catalog/plodovye-kultury/')
                                            span Наше меню
                                        a.nav-link-opener
                                    ul.nav-column
                                        li.nav-link: a(href='/catalog/plodovye-kultury/abrikos/'): span Рационы Питание+Польза
                                        li.nav-link: a(href='/catalog/plodovye-kultury/vinograd/'): span Обеды
                                        li.nav-link: a(href='/catalog/plodovye-kultury/vishnya/'): span Завтраки
                                        li.nav-link: a(href='/catalog/plodovye-kultury/grusha/'): span Меню
                                        li.nav-link: a(href='/catalog/plodovye-kultury/zhimolost/'): span Детское меню
                                        li.nav-link: a(href='/catalog/plodovye-kultury/leshchina/'): span Чай. Кофе, десерты
                                        li.nav-link: a(href='/catalog/plodovye-kultury/malina/'): span Полуфабрикаты
                                        li.nav-link: a(href='/catalog/plodovye-kultury/persik/'): span Праздничное меню
                                        li.nav-link: a(href='/catalog/plodovye-kultury/sliva/'): span Винная карта
                                li.nav-item: a.nav-link(href='/catalog/dekorativnye/'): span О нас
                                li.nav-item: a.nav-link(href='/catalog/dekorativnye/'): span Условия доставки
                                li.nav-item: a.nav-link(href='/catalog/dekorativnye/'): span Новости
                                li.nav-item: a.nav-link(href='/catalog/dekorativnye/'): span Галерея
                                li.nav-item: a.nav-link(href='/catalog/dekorativnye/'): span Контакты

                            .mobile-menu__contacts
                                .mobile-menu__contacts-title Стол заказов
                                a.mobile-menu__phone(href='tel:+73902266722')
                                    span +7 (3902) 266-722
                                .mobile-menu__mail-insta
                                    a.mobile-menu__contacts-mail(href='mailto:cafekotofey19@yandex.ru') cafekotofey19@yandex.ru
                                    a.mobile-menu__contacts-insta(href='#'): img(src="images/header__contacts-insta--image.svg")
                            
                    
                    .header
                        .container
                            .d-none.d-lg-block
                                .row
                                    .col-12.col-md-8.d-flex.align-items-center
                                        a.header__logo-link(href='/'): img(src='../images/header__logo.svg') 
                                    .col-24.col-md-12.d-flex.align-items-center.justify-content-center
                                        .header-menu
                                            .header-menu__inner
                                                ul.nav
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Фильмы
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Расписание
                                                    li.nav-link: a(href="premiers.html"): span.one-lvl Премьеры
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Зрителям
                                    .col-12.col-md-4.d-flex.align-items-center
                                        .contacts-phone
                                            .contacts-phone__label Заказ билетов
                                            .contacts-phone__number: a(href='tel:+73902555333') 555-333

                    main.main
                        if showBreadcrumb
                            .container.pt-4.pb-4
                                .nav: ol.breadcrumb
                                    li.breadcrumb-item: a(href="#") Кухня и столовая
                                    li.breadcrumb-item: a(href="#") Кухонные гарнитуры
                                    li.breadcrumb-item: a(href="#") Готовые кухонные гарнитуры

                        if fullSize
                            if showTitle
                                .title-block
                                    .row
                                        .col-24.col-lg-18.d-flex.align-items-center
                                            h1 #{pageTitle}
                                        .col-24.col-lg-6.d-flex.justify-content-end.align-items-center
                                            .type-switch
                                                a.type-switch__link.type-switch__link--active(href='schedule-halls.html') По залам
                                                a.type-switch__link(href='#') По времени
                                    ul.nav.nav-tabs
                                        li.nav-item
                                            a.nav-link.active.schedule-day(href='#')
                                                .schedule-day__left 27
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Сегодня
                                                    .schedule-day__month Октябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 28
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Завтра
                                                    .schedule-day__month Октябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 29
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Чт
                                                    .schedule-day__month Октябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 30
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Пт
                                                    .schedule-day__month Октябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 31
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Сб
                                                    .schedule-day__month Октябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 01
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Вс
                                                    .schedule-day__month Ноябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 02
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Пн
                                                    .schedule-day__month Ноябрь
                                        li.nav-item
                                            a.nav-link.schedule-day(href='#')
                                                .schedule-day__left 03
                                                .schedule-day__right
                                                    .schedule-day__day-of-week Вт
                                                    .schedule-day__month Ноябрь
                                .content
                                    block content
                            else
                                .content.content--no-title
                                    block content
                        else
                            if showTitle
                                .title-block
                                    .container
                                        .row
                                            .col-24.col-lg-18.d-flex.align-items-center
                                                h1 #{pageTitle}
                                            .col-24.col-lg-6.d-flex.justify-content-end.align-items-center
                                                .type-switch
                                                    a.type-switch__link.type-switch__link--active(href='schedule-halls.html') По залам
                                                    a.type-switch__link(href='#') По времени
                                        ul.nav.nav-tabs
                                            li.nav-item
                                                a.nav-link.active.schedule-day(href='#')
                                                    .schedule-day__left 27
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Сегодня
                                                        .schedule-day__month Октябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 28
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Завтра
                                                        .schedule-day__month Октябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 29
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Чт
                                                        .schedule-day__month Октябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 30
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Пт
                                                        .schedule-day__month Октябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 31
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Сб
                                                        .schedule-day__month Октябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 01
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Вс
                                                        .schedule-day__month Ноябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 02
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Пн
                                                        .schedule-day__month Ноябрь
                                            li.nav-item
                                                a.nav-link.schedule-day(href='#')
                                                    .schedule-day__left 03
                                                    .schedule-day__right
                                                        .schedule-day__day-of-week Вт
                                                        .schedule-day__month Ноябрь
                                .container
                                    .content
                                        block content
                            else
                                .container
                                    .content.content--no-title
                                        block content      

            footer.footer

                .footer__middle

                    .footer__middle-top
                        .container
                            .footer__middle-top-inner
                                .row
                                    .col-24.col-lg-12.col-xl-10.d-flex.align-items-center
                                        a.footer__site-logo-link(href="#")
                                            img(src='images/header__logo.svg')
                                    .col-24.col-lg-12.col-xl-14.d-flex.align-items-center.justify-content-end
                                        .header-menu
                                            .header-menu__inner
                                                ul.nav
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Фильмы
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Расписание
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Премьеры
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Зрителям

                    .footer__middle-bottom
                        .container
                            .row
                                .col-24.col-lg-8.d-flex.align-items-center
                                    .footer__address
                                        .footer__address-label Мы находимся по адресу:
                                        .footer__address-text г. Абакан, ул. Некрасова, 52
                                .col-24.col-lg-8.d-flex.align-items-center.justify-content-center
                                    .footer__socials
                                        .socials-icons.d-inline-block
                                            .socials-icons__inner
                                                a.socials-icons__link.socials-icons__link--type--vk(href="#"): i.fab.fa-vk
                                                a.socials-icons__link.socials-icons__link--type--fb(href="#"): i.fab.fa-facebook-f
                                                a.socials-icons__link.socials-icons__link--type--ok(href="#"): i.fab.fa-odnoklassniki
                                .col-24.col-lg-8.d-flex.justify-content-end
                                    .contacts-phone
                                        .contacts-phone__label Заказ билетов
                                        .contacts-phone__number: a(href='tel:+73902555333') 555-333

                .footer__bottom
                    .container
                        .row.flex-column.flex-md-row
                            .col-24.col-md-16.d-flex.align-items-center.justify-content-center.justify-content-md-start
                                .footer__copyright
                                    .footer__copyright-text © 2020 Кинотеатр «DominionCinema» - все права защищены.
                                    a.footer__confidential-link(href='#') Политика конфиденциальности

                            .col-24.col-md-8.d-flex.justify-content-center.justify-content-md-end
                                .footer__developer
                                    span Разработка сайта:
                                    a(href='http://khakasia.ru/' target='_blank') Хакасия.ру                          


            
            script(src="libs/jquery/dist/jquery.min.js")
            script(src="libs/popper.js/dist/umd/popper.min.js")
            script(src="libs/bootstrap/dist/js/bootstrap.min.js")
            script(src="libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js")
            script(src="libs/slick-slider/slick/slick.min.js")
            script(src="js/script.js")