block vars
    - var title = 'Доминион Синема'
    - var pageClass = ''
    - var showBreadcrumb = false
    - var showSidebar = false
    - var pageTitle = 'Доминион Синема'
    - var showTitle = true
    - var fullSize = false
    - var showFooterMap = false
    - var showTypeSwitch = false
    - var showScheduleDays = false
    - var showMovieDetail = false

<!DOCTYPE html>
html(lang="ru")
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        
        block styles
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext")
            link(rel="stylesheet", href="libs/font-awesome/css/all.min.css")
            link(rel="stylesheet", href="libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css")
            link(rel="stylesheet", href="libs/slick-slider/slick/slick.css")
            link(rel="stylesheet", href="libs/slick-slider/slick/slick-theme.css")
            link(rel="stylesheet", href="libs/swiper/swiper.min.css")
            link(rel="stylesheet", href="css/style.css")
        block additional-styles
    body(class=pageClass)
        #page-wrapper.page-wrapper

            .mobile-menu-bar
                .row
                    .col-4.d-flex.justify-content-start.align-items-center
                        a.mobile-menu-bar__link(href='#mobile-menu-bar' onclick='this.classList.toggle("mobile-menu-bar__link--active")')
                            i.fas.fa-bars
                    .col-16.d-flex.justify-content-center.align-items-center
                        a.mobile-menu-bar__logo(href="/")
                            img.mobile-menu-bar__logo-picture(src="../images/header__logo.svg")
                    .col-4.d-flex.justify-content-end.align-items-center
                        a.mobile-menu-bar__dial-link(href='tel:+73902555333') <i class="fas fa-phone"></i>

            div
                .site-top

                    nav.navbar.d-lg-none.d-block.py-0.mobile-menu__wrap
                        .fixed-bottom.mobile-menu#mobile-menu-bar
                            ul.navbar-nav.mr-auto
                                li.nav-item: a.nav-link(href='#'): span Фильмы
                                li.nav-item: a.nav-link(href='schedule-halls.html'): span Расписание
                                li.nav-item: a.nav-link(href='premiers.html'): span Премьеры
                                li.nav-item: a.nav-link(href='#'): span Зрителям

                            .mobile-menu__contacts
                                .mobile-menu__contacts-title Заказ билетов
                                a.mobile-menu__phone(href='tel:+73902555333')
                                    span 555-333                          
                    
                    .header
                        .container
                            .d-none.d-lg-block
                                .row
                                    .col-12.col-md-8.d-flex.align-items-center
                                        a.header__logo-link(href='/'): img(src='images/header__logo.svg') 
                                    .col-24.col-md-12.d-flex.align-items-center.justify-content-center
                                        .header-menu
                                            .header-menu__inner
                                                ul.nav
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Фильмы
                                                    li.nav-link: a(href="schedule-halls.html"): span.one-lvl Расписание
                                                    li.nav-link: a(href="premiers.html"): span.one-lvl Премьеры
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Зрителям
                                    .col-12.col-md-4.d-flex.align-items-center
                                        .contacts-phone
                                            .contacts-phone__label Заказ билетов
                                            .contacts-phone__number: a(href='tel:+73902555333') 555-333

                    main.main
                        if showMovieDetail
                            .movie-detail__top
                                .container
                                    .row
                                        .col-lg-8.col-24.movie-detail__top-left
                                            .movie-detail__poster
                                                img.movie-detail__poster-image(src='images/movies-1.png')
                                        .col-lg-16.col-24.movie-detail__top-right
                                            .movie-detail__title Соник в кино
                                            .movie-detail__info Анимация, Комедия, Приключения |  6+  |   2 ч. 22 мин.  
                                            a.btn.btn-site-primary.movie-detail__button-trailer(href='#') <i class="far fa-play"></i> Трейлер

                                            .movie-detail__other-info.movie-detail__other-info--shown
                                                .movie-detail__text Головокружительное комедийное экшн-приключение, в центре которого – культовый герой: отвязный ярко-синий ежик Соник. Вместе с новообретенным – человеческим – лучшим другом Томом Вачовски он знакомится со сложностями жизни на Земле и противостоит злодейскому доктору Роботнику, который хочет пленить Соника и использовать его безграничные суперсилы для завоевания мирового господства. «Соник в кино» основан на всемирно известной видеоигре от Sega.
                                                .movie-detail__properties
                                                    .movie-detail__properties-single
                                                        .row
                                                            .col-lg-6.col-24: span.movie-detail__properties-single-label Режиссёр
                                                            .col-lg-18.col-24: span.movie-detail__properties-single-value Джей Джей Абрамс, Колин Треворроу
                                                    .movie-detail__properties-single
                                                        .row
                                                            .col-lg-6.col-24: span.movie-detail__properties-single-label В ролях
                                                            .col-lg-18.col-24: span.movie-detail__properties-single-value Энтони Дэниелс, Дейзи Ридли, Адам Драйвер, Джон Бойега, Марк Хэмилл, Донал Глисон, Оскар Айзек, Доминик Монахэн, Лупита Нионго
                                                    .movie-detail__properties-single
                                                        .row
                                                            .col-lg-6.col-24: span.movie-detail__properties-single-label Продолжительность
                                                            .col-lg-18.col-24: span.movie-detail__properties-single-value 142 мин.
                                                    .movie-detail__properties-single
                                                        .row
                                                            .col-lg-6.col-24: span.movie-detail__properties-single-label Страна
                                                            .col-lg-18.col-24: span.movie-detail__properties-single-value США

                                            a.movie-detail__other-info-link.movie-detail__other-info-link--opened(href='#') Свернуть <i class="far fa-chevron-up"></i>

                        if fullSize
                            if showTitle
                                .title-block
                                    .row
                                        if showTypeSwitch
                                            .col-24.col-md-14.d-flex.align-items-center
                                                h1 #{pageTitle}
                                            .col-24.col-md-10.d-flex.justify-content-center.justify-content-md-end.align-items-center
                                                .type-switch
                                                    a.type-switch__link.type-switch__link--active(href='schedule-halls.html') По залам
                                                    a.type-switch__link(href='#') По времени
                                        else
                                            .col-24.d-flex.align-items-center
                                                h1 #{pageTitle} 
                                    if showScheduleDays

                                        .swiper-container.schedule-days
                                            ul.nav.nav-tabs.swiper-wrapper
                                                li.nav-item.swiper-slide
                                                    a.nav-link.active.schedule-day(href='test.html')
                                                        .schedule-day__left 27
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Сегодня
                                                            .schedule-day__month Октябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 28
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Завтра
                                                            .schedule-day__month Октябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 29
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Чт
                                                            .schedule-day__month Октябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 30
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Пт
                                                            .schedule-day__month Октябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 31
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Сб
                                                            .schedule-day__month Октябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 01
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Вс
                                                            .schedule-day__month Ноябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 02
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Пн
                                                            .schedule-day__month Ноябрь
                                                li.nav-item.swiper-slide
                                                    a.nav-link.schedule-day(href='#')
                                                        .schedule-day__left 03
                                                        .schedule-day__right
                                                            .schedule-day__day-of-week Вт
                                                            .schedule-day__month Ноябрь
                                .content
                                    block content
                            else
                                .content.content--no-title
                                    block content
                        else
                            if showTitle
                                .title-block
                                    .container
                                        .row
                                            if showTypeSwitch
                                                .col-24.col-md-14.d-flex.align-items-center
                                                    h1 #{pageTitle}
                                                .col-24.col-md-10.d-flex.justify-content-center.justify-content-md-end.align-items-center
                                                    .type-switch
                                                        a.type-switch__link.type-switch__link--active(href='schedule-halls.html') По залам
                                                        a.type-switch__link(href='#') По времени
                                            else
                                                .col-24.d-flex.align-items-center
                                                    h1 #{pageTitle} 

                                        if showScheduleDays
                                            .swiper-container.schedule-days
                                                ul.nav.nav-tabs.swiper-wrapper
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.active.schedule-day(href='test.html')
                                                            .schedule-day__left 27
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Сегодня
                                                                .schedule-day__month Октябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 28
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Завтра
                                                                .schedule-day__month Октябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 29
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Чт
                                                                .schedule-day__month Октябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 30
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Пт
                                                                .schedule-day__month Октябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 31
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Сб
                                                                .schedule-day__month Октябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 01
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Вс
                                                                .schedule-day__month Ноябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 02
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Пн
                                                                .schedule-day__month Ноябрь
                                                    li.nav-item.swiper-slide
                                                        a.nav-link.schedule-day(href='#')
                                                            .schedule-day__left 03
                                                            .schedule-day__right
                                                                .schedule-day__day-of-week Вт
                                                                .schedule-day__month Ноябрь
                                .container
                                    .content
                                        block content
                            else
                                .container
                                    .content.content--no-title
                                        block content      

            footer.footer

                .footer__middle

                    .footer__middle-top
                        .container
                            .footer__middle-top-inner
                                .row
                                    .col-24.col-lg-12.col-xl-10.d-flex.align-items-center
                                        a.footer__site-logo-link(href="#")
                                            img(src='images/header__logo.svg')
                                    .col-24.col-lg-12.col-xl-14.d-flex.align-items-center.justify-content-end
                                        .header-menu
                                            .header-menu__inner
                                                ul.nav
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Фильмы
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Расписание
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Премьеры
                                                    li.nav-link: a(href="shops.html"): span.one-lvl Зрителям

                    .footer__middle-bottom
                        .container
                            .row
                                .col-24.col-md-8.d-flex.align-items-center.justify-content-center.justify-content-md-start
                                    .footer__address
                                        .footer__address-label Мы находимся по адресу:
                                        .footer__address-text г. Абакан, ул. Некрасова, 52
                                .col-24.col-md-8.d-flex.align-items-center.justify-content-center
                                    .footer__socials
                                        .socials-icons.d-inline-block
                                            .socials-icons__inner
                                                a.socials-icons__link.socials-icons__link--type--vk(href="#"): i.fab.fa-vk
                                                a.socials-icons__link.socials-icons__link--type--fb(href="#"): i.fab.fa-facebook-f
                                                a.socials-icons__link.socials-icons__link--type--ok(href="#"): i.fab.fa-odnoklassniki
                                .col-24.col-md-8.d-flex.justify-content-center.justify-content-md-end
                                    .contacts-phone
                                        .contacts-phone__label Заказ билетов
                                        .contacts-phone__number: a(href='tel:+73902555333') 555-333

                .footer__bottom
                    .container
                        .row.flex-column.flex-md-row
                            .col-24.col-md-16.d-flex.align-items-center.justify-content-center.justify-content-md-start
                                .footer__copyright
                                    .footer__copyright-text © 2020 Кинотеатр «DominionCinema» - все права защищены.
                                    a.footer__confidential-link(href='#') Политика конфиденциальности

                            .col-24.col-md-8.d-flex.justify-content-center.justify-content-md-end
                                .footer__developer
                                    span Разработка сайта:
                                    a(href='http://khakasia.ru/' target='_blank') Хакасия.ру                          


            
            script(src="libs/jquery/dist/jquery.min.js")
            script(src="libs/popper.js/dist/umd/popper.min.js")
            script(src="libs/bootstrap/dist/js/bootstrap.min.js")
            script(src="libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js")
            script(src="libs/slick-slider/slick/slick.min.js")
            script(src="libs/swiper/swiper.min.js")
            script(src="js/script.js")